.WeatherForecast {
    text-align: center;
}
.WeatherForecast-temperature-min {
    opacity: 0.5;
    margin-left: 5px;
}
.WeatherForecast-day {
    margin-bottom: 15px;
    margin-top: 40px;
}
.WeatherForecast-temperatures {
   margin-top: 10px;
   margin-bottom: 30px;
}
